body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
h1 {
    font-size: 64px;
}

.grid-container {
    width: 520px;
    height: 520px;
    border: 10px solid black;
    display: flex;
    flex-wrap: wrap;
}

.black-background {
    background-color: black;
}

main {
    display: flex;
    gap: 16px;
    align-items: flex-start;
}

button {
    /* height: 2em;; */
}